/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300;
    color: #858585;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #000;
}
/*UTILITIES*/
.container {
    width: 1024px;
    margin: 0 auto;
}

/*HEADER*/

header {
    /*height: 120px;*/ /* emula content*/
    margin-bottom: 40px;
    /*background: pink;*/
}
header .brand img {
    padding: 15px;
    border-right: 1px solid #858585;
    width: 165px; /*165*/
}

.main-menu {
    margin-top: 40px;
}

.main-menu li {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}

.main-menu li:last-child {
    margin: 0;
}

.main-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #858585;
}

.main-menu li a:hover {
    color: black;
}

/* HERO IMG*/

.hero {
    margin-bottom: 40px;
   /* background: gold; */
}

.hero .hero-img {
    border-radius: 10px;
    background-image: url('../img/banner.jpg');
    background-position: center;
    opacity: 2;
    text-align: left;
    width: 1024px;
    height: 440px;
}

 .hero .hero-img h1 {
    padding-top: 280px;
    padding-left: 50px;
    color: #fff;
}

.hero .hero-img p {
    padding-left: 50px;
    color: #fff;
}

/*LEADERSHIP*/
.leadership {
    margin-bottom: 20px;
    /*background: dodgerblue;*/
}

.leadership .heading {
    /*height: 60px;
    background: lightblue; */
    margin-bottom: 40px;
}

.leadership h2 {
    font-size: 40px;
}

.leadership .columns .col {
    float: left;
    width: 20%;
    height: 600px;
    margin-bottom: 20px;
    background: lightblue;
}

.leadership .columns .col:nth-child(2) {
    width: 56%;
    margin: 0 2%;
}

/*FOOTER*/

footer {
    height: 60px;
    background: purple;
}